/* Home */
#home{
	height: 38px;
}

.headings{
	margin: 20px 0px !important;
	font-size: 1.7rem;
}

#home::before {
	height: 435px !important;
}

#home .main {
	right: auto !important;
	top: 5% !important;
}

.mid-part2 .define-space {
	padding: 10px !important;
}

/* Nav */
.navbar-main ul{
	flex-wrap: wrap;
	justify-content: center;
}

/*about*/
#pic img{
	width: 100%;
	height: auto;
}
#intro h2{
	font-size: 1.5rem;
}

#intro p {
	line-height: 30px;
}

/*portfolio*/
.gallery img{
	width: 300px !important;
	height: 200px !important;
}

.gallery .gallary-card {
	width: 300px !important;
	height: 200px !important;
	margin: 10px !important;
}

/* Education */
.box {
	width: 100% !important;
	margin-left: auto;
	margin-right: auto;
}

/*contacts*/
.input{
	width: 80%;
}
#msg{
	width: 80%;
	height: 100px !important;
}
#send{
	width: 20%;
}

.centerdiv {
	height: 65px !important;
}

.centerdiv a {
	height: 40px !important;
	line-height: 45px !important;
	box-shadow: 0px 2px 1px 2px #dcdde1 !important; 
}

.centerdiv a i{
	font-size: 20px !important;
}

.not-display {
	display: none !important;
}

.navbar-main {
	justify-content: left;
}

.navbar-side {
	display: flex !important;
}