@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#home::before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	background:url("image/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 900px;
	width: 100%;
	z-index: -1;
	opacity: .8;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins;
}

 html {
  	scroll-behavior: smooth;
  }


		/* Navbar */
.navbar-main{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	position: sticky;
	top: 0;
	z-index: 1;
}

.navbar-main ul{
	display: flex;
	list-style: none;
	margin: 20px 0px;
}
.navbar-main ul li{
	font-size: 1.1rem;
	font-weight: bold;
}
.navbar-main ul li a{
	text-decoration: none;
	color: white;
	padding: 8px 25px;
	transition: all .5s ease;
}
.navbar-main ul li a:hover{
	background-color: white;
	color: black;
	box-shadow: 0 0 10px white;
}


/*Home Section */
#home{
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.5);
	height: 834px;
	justify-content: center;
	align-items: center;
	color: white;
}


.main{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 30%;
	right: 15%;
}
.headings{
	font-size: 3rem;
	text-align: center;
	margin: 40px 0px;
}

.social .headings {
	font-size: 1rem;
	margin: 20px 0px;
}

.mid-part2 a {
	padding: 0px;
}

.mid-part2 {
	display: flex;
	flex-direction: row;
}

.mid-part2 ul {
	display: flex;
	list-style: none;
}

.mid-part2 ul li {
	padding-right: 10px;
}

.mid-part2 .define-space {
    border-radius: 50px;
    background: #747474;
    padding: 16px;
    transition: all 0.3s ease-in-out;
}
.mid-part2 .define-space:hover {
    background: #393939;
}
.cv-btn{
	margin: 10px 0px;
	border-radius: 20px;
	padding: 10px 35px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	outline: none;
	transition: all 0.6s ease-in-out;
}
.cv-btn:hover{
	cursor: pointer;
	background-color: white;
	color: black;
	box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
	font-weight: bold;
}

.cv-btn:hover a {
	background-color: white;
	color: black;
	box-shadow: 0 0 10px white;
}
.cv-btn a{
	text-decoration: none;
	/*padding: 8px 25px;*/
	transition: all .5s ease;
	color: white;
}

/*About Section*/
#about{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 20px;
	margin-bottom: 50px;
}
#pic{
	display: flex;
}
#pic img{
	width: 100%;
	height: 430px;
	border-radius: 10px;
}
#intro{
	display: flex;
	flex-direction: column;
	text-align: justify;
	padding: 10px;
	font-size: 1.5rem;
	font-family: 'Times New Roman', Times, serif;
}

#intro h2{
	font-size: 2rem;
	margin-bottom: 20px;
}

#intro p {
	font-size: 20px;
	line-height: 40px;
}

/*Portfolio Section*/
#portfolio{
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	align-items: center;
	padding: 20px;
}
.gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	box-sizing: border-box;
}
.gallery img{
	border-radius: 10px;
	width: 360px;
	height: 240px;
	object-fit: cover;
	overflow: hidden;
	transition: all 1s ease-in-out;
}

.gallery img:hover {
	transform: scale(1.1);
    overflow: hidden;
    object-fit: cover;
}

#portfolio .gallary-card {
	border-radius: 10px;
	width: 360px;
	height: 240px;
	margin: 20px;
	object-fit: cover;
	overflow: hidden;
}

/*Skills Section*/
#skills{
	height: 600px;
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	align-items: center;
	padding: 20px;
}

.skills_section{
    width: 100%;
    height: 40vh;
    padding: 0px 13%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.skills_main{
	margin-top: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #e74d06;
    border-radius: 10px;
}
.skill_bar .bar .html{
    width: 90%;
}
.skill_bar .bar .css{
    width: 85%;
}
.skill_bar .bar .js{
    width: 80%;
}
.skill_bar .bar .php{
    width: 70%;
}
.skill_bar .bar .content{
    width: 70%;
}

.skill_bar .bar .msoffice{
    width: 70%;
}

.skill_bar .bar .wordpress{
    width: 30%;
}
.skill_bar .bar .finance{
    width: 40%;
}

/*Education Section*/
#education{
	display: flex;
	flex-direction: column;
	padding: 20px;
}

#education .box .headings {
	font-size: 2rem;
	margin: 20px 0px;
}

.row{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	box-sizing: border-box;
}
.exp{
	font-weight: bold;
}
.box p{
	font-size: 18px;
	font-weight: 500;
}
.box{
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 450px;
	border: 1px solid black;
	margin: 10px;
	align-items: center;
	text-align: center;
	padding: 10px;
	border-radius: 15px;
	background: linear-gradient(to top, rgb(0,0,128) 50%, white 50%);
	background-size: 100% 200%;
	transition: all .8s;
}
.box:hover{
	background-position: left bottom;
	color: white;
	border: none;
	box-shadow: 0 0 20px rgb(0,0,128);
}
.box img{
	width: 120px;
	height: 120px;
	background-color: white;
	padding: 10px;
}

/* Experience */

#experience{
	margin-bottom: 30px;
}

#experience .box .headings {
	font-size: 2rem;
	margin: 20px 0px;
}

#experience .box {
	height: 250px;
}

span.color-classify {
	color: #77448b;
	transition: all 0.5s ease-in-out;
}

.box:hover span.color-classify {
	color: #fff;
}
/*Contact Section*/
#contact{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	padding: 20px;
}
.form{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: center;
	margin: 20px 0px;
}
.input{
	border-radius: 10px;
	padding: 12px;
	margin: 15px;
	width: 30%;
	border: none;
	outline: none;
}
#msg{
	border-radius: 10px;
	height: 200px;
	width: 27%;
	padding: 10px;
	margin: 15px;
	border: none;
	outline: none;
}
#send{
	padding:  10px;
	width: 10%;
	margin: 40px;
	border: none;
	outline: none;
}
#send:hover{
	cursor: pointer;
	box-shadow: 0 0 10px white;
}
.centerdiv{
	height: 100px;
	display: flex;
	justify-content: center;
}
.centerdiv a{
	height: 100px;
	width: 100px;
	background-color: #f5f6fa;
	border-radius: 50px;
	text-align: center;
	margin: 10px;
	line-height: 115px;
	box-shadow: 1px 8px 2px 2px #dcdde1;
}

.centerdiv a i{
	font-size: 30px;
	transition: 0.5s linear;
}
.centerdiv a:hover i{
	transform: scale(1.5);
}
.fa-instagram{
	color: #e84393;
}
.fa-youtube{
	color: #e84118;
}
.fa-linkedin{
	color: #0097e6;
}

.fa-tiktok {
	color: black;
}

.fa-twitter{
	color: #0097e6;
}
.fa-facebook{
	color: #3b5998;
}	

/* Side Bar */

.navbar-side .btn-primary {
	margin-left: 20px;
	background: none;
	border: none;
}

.navbar-side i {
	font-size: 20px;
}

.navbar-side .btn-primary:hover {
	border: none;
	background: none;
}

.offcanvas.offcanvas-start {
	width: 200px !important;
}

.navbar-side{
	display: flex;
	justify-content: left;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	position: sticky;
	top: 0;
	z-index: 1;
}

.navbar-side ul{
	padding-left: 0px;
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 20px 0px;
}
.navbar-side ul li{
	margin-bottom: 10px;
	padding: 20px 0px;
	font-size: 1.1rem;
	font-weight: bold;
}

.navbar-side ul li a{
	display: flex;
	flex-direction: row;
	text-decoration: none;
	color: navy;
	padding: 8px 25px;
	transition: all .5s ease;
}

.navbar-side ul li span {
	margin-right: 5px;
}

.navbar-side {
	display: none;
}

.offcanvas-header .btn-close {
	margin-left: auto !important;
	margin-right: 1rem !important;
}