/*Navbar*/
.navbar-main ul{
	flex-wrap: wrap;
	justify-content: center;
}

/*Headings*/
.heading{
	font-size: 2rem;
}

/*About*/
#pic{
	flex-direction: column;
	align-items: center;
}
#pic img{
	width: 100%;
	height: auto;
}
#intro h2{
	text-align: center;
	padding: 10px;
}
#intro p {
	line-height: 30px;
}

/*Contact*/
.input{
	width: 60%;
}
#msg{
	width: 55%;
}
#send{
	width: 20%;
}